{
  "plugins": [
    [
      "styled-jsx/babel",
      {
        "optimizeForSpeed": true,
        "sourceMaps": true
      }
    ],
    [
      "import",
      {
        "libraryName": "antd",
        "libraryDirectory": "es",
        "style": "css"
      }
    ]
  ]
}